





<!--<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="logs/myapp.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
</log4net>-->





<log4net>
	<root>
		<level value="ALL"></level>
		<appender-ref ref="AdoNetAppender"></appender-ref>
	</root>
	<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="1" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<connectionString value= "Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Ayres\Desktop\Applesauce_Penguin\Y2S2\AppSecurity  (W-T1)\IT2163_PractAssignment\IT2163_PractAssignment\App_Data\IT2163_PractAssignment.mdf&quot;;Integrated Security=true;" providerName="System.Data.SqlClient" />

		<!--Data Source=(localdb)\MSSQLLocalDB;Initial Catalog="6175D335CA9FDFD4E8771CCEED4C435F_URITY  (W-T1)\IT2163_PRACTASSIGNMENT\IT2163_PRACTASSIGNMENT\APP_DATA\IT2163_PRACTASSIGNMENT.MDF";Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False-->

		<!--<commandText value="INSERT INTO [dbo].[Log] ([UserID],[Date],[Thread],[Level],[Logger],[Message], [IP_Address],[Exception]) VALUES (@userid, @log_date, @thread, @log_level, @logger, @message, @clientip, @exception)" />-->
		<commandText value="INSERT INTO [dbo].[Log] ([UserID],[Date],[Thread],[Level],[Logger],[Message], [IP_Address],[Exception]) VALUES (@userid, @log_date, @thread, @log_level, @logger, @message, @clientip, @exception)" />



		<parameter>
			<parameterName value="@userid" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout" >
				<conversionPattern value="%property{UserId}" />
			</layout>
		</parameter>

		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		
		<parameter>
			<parameterName value="@thread" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>


		<parameter>
			<parameterName value="@clientip" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout" >
				<conversionPattern value="%property{ClientIp}" />
			</layout>
		</parameter>



		<!--<parameter>
			<parameterName value="@ipaddress "/>
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{ipaddress}" />
			</layout>
		</parameter>-->



		
		
		
		<parameter>
			<parameterName value="@exception" />
			<dbType value="String" />
			<size value="2000" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
	</appender>
	
	
</log4net>